.Main {
    padding: 10vh 0 0 0;
    width: 100%;
    display: block;
    left: 0;
    position: relative;
    z-index: -1;
}

.Alert {
    padding: 0;
    margin-bottom: 5vh;
    width: 100%;
    position: relative;
    float: left;
    left: 0;
    top: 7.5vh;
}

#UpdateAlert {
    display: block;
    width: 85vw;
    margin: 3vh auto;
    animation-name: alertPopout;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.mainGridContainer {
    padding: 2vh 5vw;
    margin: 1vw;
}

.smallerTitle {
    font-size: 2.5vh;
}

@media screen and (max-width: 768px) {
    .Main {
        padding-top: 16vh;
    }
    .Alert {
        top: 15vh;
        margin-bottom: 12vh;
    }
    .sideBar {
        display: none;
    }
    .mainGridContainer {
        width: 100vw;
    }
    .smallerTitle {
        font-size: 1vh;
    }
}

@keyframes alertPopout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}