.imgBox {
    background-color: black;
    padding: 0;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 7.5vh;
    left: 0;
}

.siteFrontBackground {
    display: block;
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 100vw;
    position: relative;
    top: 0;
    background-color: black;
    left: 0;
    animation-name: twinkle;
    animation-duration: 15s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.5, 0.75, 0.86, 0.52);
    animation-iteration-count: infinite;
}

@keyframes twinkle {
    from {
        filter: blur(0) sepia(0) brightness(1);
    }

    to {
        filter: blur(0.5vw) sepia(70%) brightness(0.4);
    }
}
