.siteHeader {
    z-index: 999;
    background-color: rgb(0, 17, 17);
    width: 100%;
    height: 7.5vh;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    position: fixed;
}

.logo {
    padding: 0.5vh 3vw;
    width: 6.5vh;
    height: 6.5vh;
    position: relative;
    float: left;
}

.headerSiteName {
    position: relative;
    color: rgb(230, 180, 30);
    width: 20vw;
    float: left;
    margin: 0;
    line-height: 7.5vh;
    font-size: 3vh;
    font-family: "仿宋";
    font-weight: lighter;
}

.headerItemSection {
    display: grid;
    grid: auto/repeat(4, 1fr);
    width: 45vw;
    float: left;
    margin: auto 10vw;
    align-items: center;
    justify-items: center;
}

.headerItem {
    color: rgb(255, 255, 255);
    font-family: "Arial";
    font-size: 2.25vh;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    border-bottom: solid rgb(0, 17, 17) 3px;
}

.headerItemContent {
    line-height: 6.8vh;
    margin: 0 1vw;
}

.headerItem:hover {
    animation-name: onHoverEmphasis;
    animation-direction: alternate;
    animation-duration: 0.1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes onHoverEmphasis {
    0% {
        color: initial;
    }

    50% {}

    100% {
        color: rgb(191, 35, 147);
    }
}

.Selected {
    color: rgb(191, 9, 191);
    font-weight: bolder;
    border-bottom: solid rgb(191, 9, 191) 3px;
}

.MobileMenu {
    display: none;
    margin: 0;
    padding: 0;
}

.MobileMenuContent {
    display: none;
    color: white;
    font-size: 6.5vh;
    position: relative;
    float: right;
    margin: 0;
    line-height: 100%;
}

@media screen and (max-width: 768px) {
    .MobileMenu {
        display: block;
    }

    .headerItem {
        display: none;
    }

    .headerItemContent {
        display: none;
    }

    .headerItemSection {
        display: none;
    }

    .MobileMenuContent {
        display: block;
    }
}